    .angular-google-map-container {
        height: 600px;
    }
    .list-group-item {
        padding-left: 5px;
        padding-top: 7px;
        padding-bottom: 5px;
    }
    .bold {
        font-weight: bold;
    }
    @media (min-width: 768px){
    .navbar-form .input-h{
      width: 65px;
    }
    .ov {
    max-height:600px;
    overflow-y:auto;  
}
}

.footer {
    margin-top:10px;
  padding-top: 10px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}
/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {

  .footer {
    padding-right: 0;
    padding-left: 0;
  }

}
