<ion-view view-title="Widok kościołów">
  <ion-content>
   <div class="list">

    <a class="item item-thumbnail-left item-icon-right" item-icon-right
    ui-sref="details({id:c.id})" ng-repeat="c in vm.items">
      <img ng-src="{{c.image}}">
        <div class="name">{{c.parafia}}</div>
      <div class="location">
        <i class="fa fa-map-marker"></i> Kraków, {{c.ulica}}
      </div>
      <div class="desc" style="font-size:small">
         Nd: 07:00 ,08:30 ,10:00 ,11:15 ,12:30 ,14:00 ,18:00 ,20:00  
      </div>
 		<i class="icon ion-chevron"></i>
    </a>
</div>
  </ion-content>
</ion-view>
