 <ion-header-bar class="bar">
 <div class="buttons">
        <a class="button button-icon ion-arrow-left-c" href="{{backURL}}">
        </a>
      </div>
      <h1 class="title">{{church.parafia}}</h1>
      
    </ion-header-bar>
 <ion-content>

<div class="list">
  <div class="item item-body">
    <img class="full-image" src="location1.jpg">
    <p>
        <i class="fa fa-map-marker"></i> Kraków, {{church.ulica}}

    </p>
    <p><a href="{{church.www}}">{{church.www}}</a></p>
    <p>Nd: 07:00 ,08:30 ,10:00 ,11:15 ,12:30 ,14:00 ,18:00 ,20:00  
    <p>
      <a href="#" class="subdued">1 Like</a>
      <a href="#" class="subdued">5 Comments</a>
    </p>
  </div>

  <div class="item tabs tabs-secondary tabs-icon-left">
    <a class="tab-item" href="#">
      <i class="icon ion-thumbsup"></i>
      Like
    </a>
    <a class="tab-item" href="#">
      <i class="icon ion-chatbox"></i>
      Comment
    </a>
    <a class="tab-item" href="#">
      <i class="icon ion-share"></i>
      Share
    </a>
  </div>

</div>
  </ion-content>
