<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Wskaż gdzie jesteś</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeLocation()">Close</button>
    </div>
  </ion-header-bar>
  <ion-content>
    <form ng-controller="LocationCtrl">
        
  
      <div class="list">

        <div class="item item-input-inset">
        <label class="item-input-wrapper">
    <input type="text" 
    placeholder="Wpisz lokalizację" id="autocomplete" ng-model="location">
        </label>
          <button class="button " ng-click="initialize()">I</button>
            <button class="button icon-left fa fa-globe" ng-click="searchGPS()"></button>
  </div>




      
       
      </div>

      <ion-list>
        <ion-item  ng-repeat="l in locations">
        {{l.address}}
        </ion-item>
      </ion-list>
      
    </form>
  </ion-content>
</ion-modal-view>
