<ion-view view-title="Mapa">
  <ion-content  scroll="false">
  <script type="text/ng-template" id="gps.tpl.html">
    <div class="map-button" ng-click="center()"><div class="gps-button"></div></div>
    </script>

  <ui-gmap-google-map center='map.center' zoom='map.zoom' options="map.options">
    <ui-gmap-markers models="filteredChurchMarkers" coords="'self'" icon="'icon'" click="'onClick'">
     </ui-gmap-markers>

<ui-gmap-map-control template='gps.tpl.html' controller="MyLocationCtrl" position="RIGHT_BOTTOM">
</ui-gmap-map-control>

  </ui-gmap-google-map>
  </ion-content>
</ion-view>
