<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-stable">
      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left">
    <ion-header-bar class="bar-stable">
      <h1 class="title">Menu</h1>
    </ion-header-bar>
    <ion-content>
      <ion-list>
        <ion-item nav-clear 
        class="item-icon-left" menu-close ng-click="login()">
           <i class="icon ion-search"></i>
          Szukaj
        </ion-item>
        <ion-item nav-clear 
        class="item-icon-left" menu-close href="#/app/time">
          <i class="icon ion-clipboard"></i> Widok czasu
        </ion-item>
        <ion-item nav-clear class="item-icon-left" menu-close href="#/app/churches">
          <i class="icon ion-clock"></i>  Widok kościołów
        </ion-item>
        <ion-item nav-clear class="item-icon-left" menu-close href="#/app/map">
          <i class="icon ion-map"></i>  Mapa
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
