<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Szukaj mszy</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeLogin()">Close</button>
    </div>
  </ion-header-bar>
  <ion-content>
    <form>

 <div class="item item-input-inset" ng-controller="LocationCtrl">
           <span class="input-label">Jestem w</span>

        <label class="item-input-wrapper">
    <input type="text" 
    placeholder="Wpisz lokalizację" id="autocomplete">
        </label>
          <button class="button " ng-click="initialize()">I</button>
            <button class="button icon-left fa fa-globe" ng-click="searchGPS()"></button>
  </div>



      <label class="item item-input">


          <span class="input-label">W godzinach</span>
          <ionic-time-picker etime="search.from" format="24" step="1">
                    <button class="button button-block button-positive overflowShow">
                        <standard-time-no-meridian etime='search.from'></standard-time-no-meridian>
                    </button>
                </ionic-time-picker> 
                <span style="padding-right: 9px;padding-left: 9px;"> , a </span>
                <div>
                       <ionic-time-picker etime="search.to" format="24" step="1">
                    <button class="button button-block button-positive overflowShow">
                        <standard-time-no-meridian etime='search.to'></standard-time-no-meridian>
                    </button>
                </ionic-time-picker>
                </div>

          
        </label>
          <label class="item item-input item-select">
    <div class="input-label">
      W promieniu
    </div>
    <div>
    <select ng-model="search.distance">
      <option ng-selected="search.distance == i" value="{{i}}" ng-repeat="i in [1,3,5,7,10,100]">{{i}} km</option>
    </select>
    </div>
  </label>


        <label class="item">
          <button class="button button-block button-positive" type="submit" ng-click="doLogin()">Pokaż msze</button>
        </label>
      </div>
    </form>
  </ion-content>
</ion-modal-view>
