<ion-view view-title="Widok czasu">
  <ion-content>

 <div class="row" ng-repeat="c in vm.items" href="#/app/details/{{c.id}}">
              <div style="width:80px" class="plan-left">
                <div class="plan-date">5:30 PM</div>
                <div class="plan-duration">1h</div>
              </div>

              <div style="width:6px" class="plan-center" ng-style="{backgroundColor:c.id % 3 == 1 ? '#3399ff' : '#ccc'}">
              </div>

              <div class="col plan-right">
                <div class="plan-name">{{c.parafia}}
               </div>

                <div class="plan-info">
                   <div ng-hide="a % 3 == 0">
                    <ons-icon icon="fa-map-marker"></ons-icon>Kraków, {{c.ulica}}
                  </div>
                </div>
              </div>
              <div style="width:80px" class="plan-left">
                <div class="plan-duration">ok. 5 km</div>
              </div>
</div>

  </ion-content>
</ion-view>
