<!doctype html>
<html class="no-js">

<head>
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <script src='//maps.googleapis.com/maps/api/js?sensor=false'></script>

    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/dashboard.css">
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
</head>

<body ng-app="yeoApp">
    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!-- Add your site or application content here -->
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Gdzie na mszę?</a>
            </div>
            <div class="collapse navbar-collapse" ng-controller="CitiesCtrl">
                <ul class="nav navbar-nav">
                    <li ng-class="{'active':activeCity == c.name}" ng-repeat="c in cities"><a href="#{{c.name}}">{{c.title}}</a>
                    </li>

                </ul>
            </div>
            <!--/.nav-collapse -->
        </div>
    </div>
    <div class="container-fluid" ng-controller="ListCtrl">


        <div class="row">
            <nav class="navbar navbar-default" role="navigation">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#"></a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse navbar-ex1-collapse">
                    <form class="navbar-form navbar-left" role="search" name="mainForm">
                        <label>Jestem w :</label>

                        <div class="input-group">
                            <input type="text" ng-model="location" class="form-control">
                            <div class="input-group-btn">
                                <button type="submit" ng-click="searchLocation(mainForm)" class="btn btn-default">Szukaj</button>

                                <button type="button" ng-click="centerHere()" class="btn btn-default" title="Wstaw startową lokalizacje z GPS">
                                    <span class="glyphicon glyphicon-globe"></span>
                                </button>

                            </div>
                        </div>
                        <label>i szukam kościoła w promieniu:</label>
                        <div class="form-group ">
                            <input type="text" class="form-control  input-h" ng-model="radius" debounce="500" placeholder="km">
                        </div>
                        <label>Msza św. pomiędzy:</label>
                        <div class="form-group ">
                            <input type="text" class="form-control  input-h" ng-model="from" debounce="500" ng-change="filterItems(query,from,to)" placeholder="7:00">
                        </div>
                        <label>a:</label>
                        <div class="form-group ">
                            <input type="text" class="form-control  input-h" ng-model="to" debounce="500" ng-change="filterItems(query,from,to)" placeholder="11:00">
                        </div>
                    </form>
                </div>
                <!-- /.navbar-collapse -->
            </nav>
        </div>


        <div class="row">
            <div class="col-xs-12 visible-xs-block">

                <ul class="nav nav-tabs">
                    <li ng-class="{'active':isChurch}">
                    	<a ng-init="isChurch=1" ng-click="isChurch=1">Kościoły</a>
                    </li>
                    <li ng-class="{'active':!isChurch}">
                    	<a ng-click="isChurch=0">Mapa</a>
                    </li>
                </ul>
            </div>
            <div class="col-xs-12 col-md-3 ov" ng-class="{'hidden-xs':!isChurch}">
                <input type="text" class="form-control" ng-model="query" debounce="500" ng-change="filterItems(query,from,to)" placeholder="Szukaj">
                <ul class="list-group">
                    <li  style="cursor:pointer" ng-click="i.onClick()" class="list-group-item" ng-repeat="i in filteredChurchMarkers" ng-class="{'list-group-item-success': (activeDetails.o.id == i.id)}">
                        <span class="badge">M</span>
                        <strong>
                            {{i.parafia}}
                        </strong>
                        <small>
                            {{i.ulica}}
                        </small>
                        <h5 style="margin-top:0;margin-bottom:0">
                            Msze:
                            <small>
                                <span ng-repeat="d in i.ndm" ng-class="{'bold':d.a}">
                                    {{d.t}} {{d.d}},
                                </span>
                            </small>
                        </h5>
                    </li>
                    <li>
                        <ul class="pagination">
                            <li><a href="#">1</a>
                            </li>
                            <li><a href="#">2</a>
                            </li>
                            <li><a href="#">3</a>
                            </li>
                            <li><a href="#">4</a>
                            </li>
                            <li><a href="#">5</a>
                            </li>
                        </ul>
                    </li>
                </ul>
                <nav>

                </nav>

            </div>
            <div class="col-xs-12 col-md-8" ng-class="{'hidden-xs':isChurch}">
                <google-map center="map.center" draggable="true" zoom="map.zoom" bounds="map.bounds">
                    <markers models="filteredChurchMarkers" coords="'self'" icon="'icon'" click="'onClick'">
                    </markers>
                    <window show="activeDetails.show" coords="activeDetails.o" closeClick="detailsClose()">
                        <div>
                            <strong>
                                {{activeDetails.o.parafia}}
                            </strong>
                            <small>
                                {{activeDetails.o.ulica}}
                            </small>
                            <br>
                            <small>
                                Msze: {{activeDetails.o.nd}}
                            </small>
                        </div>
                    </window>
                    <circle center="range.center" stroke="range.stroke" fill="range.fill" radius="range.radius" visible="range.visible"></circle>
                </google-map>

            </div>
        </div>
        <div class="footer">Ostatnie zmiany: Kraków 09-09-2014, Wrocław 12-13</div>
    </div>


    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
    <script>
    (function(i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function() {
            (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date();
        a = s.createElement(o),
            m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-XXXXX-X');
    ga('send', 'pageview');
    </script>

    <!--[if lt IE 9]>
    <script src="bower_components/es5-shim/es5-shim.js"></script>
    <script src="bower_components/json3/lib/json3.min.js"></script>
    <![endif]-->

    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/lodash/dist/lodash.compat.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/json3/lib/json3.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-touch/angular-touch.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="bower_components/angular-lodash/angular-lodash.js"></script>
    <script src="bower_components/angular-google-maps/dist/angular-google-maps.js"></script>
    <script src="bower_components/ng-debounce/angular-debounce.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:js({.tmp,app}) scripts/scripts.js -->
    <script src="scripts/app.js"></script>
    <script src="scripts/controllers/cities.js"></script>
    <script src="scripts/controllers/list.js"></script>
    <script src="scripts/services/geoservice.js"></script>
    <script src="scripts/services/masslistservice.js"></script>
    <!-- endbuild -->
</body>

</html>
